header {
    width: 100%;
    box-shadow: 0px 0px 30px #e2e2e2;
    height: 70px;
    overflow: hidden;
    background: var(--main-color);
}

header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    padding-bottom: 2em;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    gap: 1em;
}

header img {
    display: block;
    height: 50px;
    border-radius: 50%;
}
header p,
header a {
    color: #fff;
}
