.dialogs{
	grid-column: 2/5;

	display: grid;
	grid-column: 1fr 1fr;
}
h1{
	grid-column: 1/3;
}
.names{
	grid-column: 1/2;

	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 2em 0;
}
.chats{
	grid-column: 2/3;
	list-style-type: none;
}