.users ul {
   padding: 1em 0;
}
.user__card {
   display: flex;
   gap: 0 1em;
   padding: 0 0 30px 0;
}
.user__card img {
   width: 100px;
}
.user__information {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: space-between;
}
.users .active {
   transform: scale(1.1);
}
.user__buttons button {
   width: 2em;
   height: 2em;
   font-family: 'JetBrains Mono NL';
}
.user__buttons {
   display: flex;
   gap: 1em;
}
.users > img {
   width: 100px;
}
